body, html {
    margin: 50;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    direction: rtl;
    text-align: right;
    background-color: rgb(221, 217, 222);
}

#hedr {
    background-color: #06c70d;
    padding: 10px;
    text-align: center;
    font-size: 2em;}

#main {
    display: flex;
    justify-content: space-between; /* فاصله مساوی بین آیتم‌ها */
    padding: 10px;
    background-color: #9d9d9d;
}

.title {
    flex: 1; /* عرض مساوی برای هر بخش */
    margin: 5px;
    padding: 10px;
    background-color: rgb(55, 84, 84);
}

.title:nth-child(2) {
    background-color: rgb(51, 209, 34);
}

footer {
    background-color: #272727;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    color: rgb(184, 44, 44);
    font-size: 2em;
}
.container{
    display: flex;
    justify-content: space-between; /* فاصله مساوی بین باکس‌ها */
    padding: 20px;
    background-color: #b1b2cb;
    

}

.flex-item {
    
    
    margin: 5px;
    padding: 20px;
    background-color: #e1a201; /* رنگ پس‌زمینه باکس */
    color: rgb(72, 78, 106);
    text-align: center;
    font-size: 4em;
    text-align: center;
    flex-direction: row;
    flex-direction: column;
    font-family:  b Nazanin;
}
#fot{
    font-size: 2em;
    font-family:  b Nazanin;
}
#fi1{
    border-color: #97510a;
}
#fi2{
    border-color: aliceblue;
}
.ulp{
    list-style-type:none ;
    border-color: #06c70d;
    display: flex;
    font-size: 28px;
    font-family: b Nazanin;
    padding: 0;
    
}
.ulp li{
    flex-grow: 1;
    border-bottom: 7px black solid ;
}
a{
    text-decoration: none;
    color: #333;
    display: block;
    text-align: center;


}
.ulp a:hover{
    background-color:#333;
    color: #2ffa2f;

}

    